*,
*::before,
*::after{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
	font-family: 'Poppins', sans-serif;
}
p{
  font-size: 2rem;
	padding: 3rem;
}
a{
  text-decoration: none;
}
a{
  color: white;
  transition: 0.4s;
  font-size: 2rem;
}


.sopra{
  background: #06162e;
  position: sticky;
  top: 0;
  z-index: 3;
  box-shadow: 1px 1px 10px black;
}
nav{
  min-height: 10vh;
  display: flex;
  width: 90%;
  padding: 2rem;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}
#logo{
  flex: 2 1 40rem;
}
#logo a{
  font-size: 3rem;
}
#logo span{
  color: lightblue;
  margin: 0;
}
nav ul{
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

/*
pagina alto*/

#maintop{
  display: flex;
  min-height: 100vh;
  width: 100%;
}
.principale{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #efefef;
  min-width: 40vw;
  width: 40vw;
}
.principale h1{
  width: 60%;
  font-size: 4rem;
  padding: 2rem;
}
.principale h2{
  width: 60%;
  font-weight: 300;
  font-size: 2rem;
  padding: 2rem;
}
.principale a{
  margin-top: 5rem;
  padding: 2rem 6rem;
  background: #1c345c;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}
.muovi{
  display: flex;
  flex-direction: column;
  width: 20vw;
  transition: width 1s;
  justify-content: center;
  align-items: center;
}
.muovi a, .banners a{
  margin-top: 4rem;
  padding: 2rem;
  background: #313131;
}
.muovi h1{
  text-align: center;
  font-size: 3.2rem;
  padding: 1rem;
  color: white;
}
.muovi h2{
  text-align: center;
  font-size: 2.4rem;
  padding: 1rem;
  font-weight: 300;
  color: white;
}
.muovi:hover{
  width: 50vw;
}

.chef{
  background: linear-gradient(rgba(0,0,0,0.7), transparent),url("./../img/cuoco.jpg");
  background-size: cover;
  background-position: center;
}

.metallo{
  background: linear-gradient(rgba(0,0,0,0.7), transparent),url("./../img/metallo.jpg");
  background-size: cover;
  background-position: center;
  transition: 1s;

}
.capelli{
  background: linear-gradient(rgba(0,0,0,0.7), transparent),url("./../img/capelli.jpg");
  background-size: cover;
  background-position: center;
  transition: 1s;
}

/*
Tornasu*/
#azienda img{
  width: 10rem;
  z-index: 5;
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  filter: drop-shadow(0px 0px 20px white);
}

/*pagina scegli fascia*/
.scegli{
  position: relative;
  display: flex;
  background: #dfdfdf;
  min-height: 100vh;
  align-items: center;
}
.banners{
  display: flex;
  min-height: 50vh;
  width: 100%;
    justify-content: center;
  align-items: center;
}
.descr-fascia_azienda{
  display: flex;
  background: linear-gradient(rgba(0,0,0,0.7), transparent),url("./../img/azienda.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
.descr-fascia_azienda h1{
  font-size: 4rem;
  padding: 2rem;
}
.descr-fascia_azienda h2{
  font-weight: 300;
  font-size: 2rem;
  padding: 2rem;
}
.descr-fascia_pers{
  display: flex;
  background: linear-gradient(rgba(0,0,0,0.7), transparent),url("./../img/person2.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  
  /* flex-direction: column; */
}
.descr-fascia_pers h1{
  font-size: 4rem;
  padding: 2rem;
}
.descr-fascia_pers h2{
  font-weight: 300;
  font-size: 2rem;
  padding: 2rem;
}
.descr-fascia_rest{
  display: flex;
  background: linear-gradient(rgba(0,0,0,0.7), transparent),url("./../img/restaurant.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
.descr-fascia_rest h1{
  font-size: 4rem;
  padding: 2rem;
}
.descr-fascia_rest h2{
  font-weight: 300;
  font-size: 2rem;
  padding: 2rem;
}

.descr-fascia_bar{
  display: flex;
  background: linear-gradient(rgba(0,0,0,0.7), transparent),url("./../img/bar.jpg");
  background-size: cover;
  background-position: center;
  color: white;

}
.descr-fascia_bar h1{
  font-size: 4rem;
  padding: 2rem;
}
.descr-fascia_bar h2{
  font-weight: 300;
  font-size: 2rem;
  padding: 2rem;
}



@media screen and (max-width: 1024px){
  body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  #maintop{
    flex-wrap: wrap;
    flex-direction: column;
  }
  #maintop div{
    width: 100%;
    height: 50vh;
  }
  .banners{
    flex-direction: column;
  }
}